@import '~node_modules/modern-normalize/modern-normalize.css';



:root {
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --animation-duration: 250ms;
}
body {
    margin-bottom: 30px;
}
.gallery {
    // display: grid;
    // max-width: 1140px;
    // grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    // grid-auto-rows: 240px;
    grid-gap: 12px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding: 0;
    list-style: none;
}

.photo-card {
    position: relative;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

// .gallery__image:hover {
//     transform: scale(1.03);
// }

// .gallery__image {
//     height: 100%;
//     width: 100%;
//     object-fit: cover;
//     transition: transform var(--animation-duration) var(--timing-function);
// }

.gallery__link {
    display: block;
    text-decoration: none;
    // height: 100%;
    margin-bottom: 10px;
}

.gallery__link:hover {
    cursor: zoom-in;
}
.info {
    padding-left: 15px;
    
}
.info-item {
    margin-top: 0;
    font-size: 12px;
}
.info-item:not(:last-child) {
    margin-bottom: 5px;
}
.search-form {
    display: flex;
    margin-bottom: 30px;
    padding-top: 30px;
    padding-bottom: 20px;
    justify-content: center;
    background-color: aquamarine;
    height: 80px;
    grid-gap: 12px;
}

.load-more{    
    margin-top: 30px;
    margin-bottom: 20px;   
    display: block;
    margin: 0 auto;
}