// .example {
//   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
//     Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
//   line-height: 1.5;
//   background-color: #fff;
//   color: #2f2f37;
//   max-width: 960px;
//   padding: 16px;
// }

// .example code {
//   font-family: monospace;
//   font-size: 16px;
//   font-weight: 700;
//   background-color: #ff6b0a;
//   color: #fff;
//   padding: 2px 6px;
//   border-radius: 2px;
// }

// .example .background {
//   height: 240px;
//   // ❗️❗️❗️ The path to images from a SASS file
//   // is always the same as from the css folder.
//   background-image: url('../images/logo.png');
//   background-size: cover;
//   background-position: center;
// }

@import '~node_modules/modern-normalize/modern-normalize.css';



:root {
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --animation-duration: 250ms;
    --transision-scale: 150ms cubic-bezier(.4, 0, .2, 1);
}

body {
    margin-bottom: 30px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    // display: grid;
    // max-width: 1140px;
    // grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    // grid-auto-rows: 240px;

    grid-gap: 12px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding: 0;
    list-style: none;
}

.photo-card {
    position: relative;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
    transform: scale(.99);
    overflow: hidden;
}
.photo-card:hover {
    transition: transform var(--animation-duration) var(--timing-function);
    transform: scale(1.01);
    box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.4),
}

.gallery__link {
    display: block;
    text-decoration: none;
    // margin-bottom: 10px;
}

.gallery__link:hover {
    // cursor: pointer;
    cursor: zoom-in;
}
.gallery__link>img {
    object-fit: contain;
    display: block;
    text-decoration: none;
    // margin-bottom: 10px;
    
}
// .gallery__image {
//     height: 100%;
//     width: 100%;
//     // object-fit: cover;
// }

.info {
    justify-content: space-around;
        align-items: flex-end;
        column-gap: 10px;
        padding: 6px 14px;
        font-size: 12px;
        display: flex;
}

.info-item {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 12px;
    flex-direction: column;
    display: flex;
    align-items: center;
}

b {
    font-weight: 700;
}

.search-form {
    display: flex;
    margin-bottom: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    justify-content: center;
    background-color: rgb(255, 127, 174);
    height: 100px;
    grid-gap: 12px;
}

// .load-more {
//     margin-top: 30px;
//     margin-bottom: 20px;
//     display: block;
//     margin: 0 auto;
// }

.is-hidden {
    display: none;
}
.search {
    background-color: rgba(238, 244, 244, 0.684);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    display: block;
    padding-left: 20px;
    padding-right: 20px;
}

.search:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    background-color: rgba(0, 255, 255, 0.684);
    color: rgb(255, 255, 255);
}

.search:focus {
    background-color: rgba(255, 127, 174, 0.641);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.input {
    border: none;
    border-radius: 5px;
    padding-left: 10px;
}